/* desktop version */
@media screen and (min-width: 900px) {
  /* header */

  header {
    height: 72px;
  }
  
  header > *, section {
    padding: 0 10%;
  }

  header .toolbar-links {
    display: flex;
    gap: 32px;
  }

  header .toolbar-icon {
    display: none;
  }

  /* headline */

  #headline {
    min-height: 798px;
    position: relative;
    display: grid;
    grid-template-columns: 566px 1fr;
    grid-template-rows: repeat(3, max-content);
    align-content: center;
    grid-auto-flow: column;
    row-gap: 24px;
  }

  #headline .title {
    font-size: 72px;
    line-height: 81.5px;    
  }

  #headline .subtitle {
    font-size: 32px;
    line-height: 44px;    
  }

  #headline .description {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
  }

  #headline .social-media {
    position: absolute;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* recent works */
  #recent-works {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  #recent-works .title {
    border: none;
  }
  
  .card.diff {
    grid-template-columns: 566px auto;
    column-gap: 24px;
  }

  .card.diff div {
    gap: 24px;
    align-content: baseline;
  }

  .cards {
    row-gap: 37px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 435px);
  }
}
