/* desktop version */
@media screen and (min-width: 900px) {
  /* header */

  header {
    height: 72px;
  }
  
  header > *, section {
    padding: 0 10%;
  }

  header .toolbar-links {
    display: flex;
    gap: 32px;
  }

  header .toolbar-icon {
    display: none;
  }

  /* headline */

  #headline {
    background: url(images/illustrations/illustration-header.svg) 100% 0% / 36% no-repeat #1c1a19;
    min-height: 798px;
    display: grid;
    grid-template-columns: 566px 1fr;
    grid-template-rows: repeat(3, max-content);
    align-content: center;
    grid-auto-flow: column;
    row-gap: 24px;
  }

  #headline .title {
    font-size: 72px;
    line-height: 81.5px;    
  }

  #headline .subtitle {
    font-size: 32px;
    line-height: 44px;    
  }

  #headline .description {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
  }

  #headline .social-media {
    position: absolute;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* recent works */
  #recent-works {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  #recent-works .title {
    border: none;
  }
  
  .card.diff {
    grid-template-columns: 566px minmax(0, 1fr);
    column-gap: 24px;
  }

  .card.diff div {
    gap: 24px;
    grid-template-columns: minmax(0, 1fr);
    align-content: baseline;
  }

  .boxes {
    flex-wrap: wrap;
  }

  .cards {
    row-gap: 37px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }

  .card .see-project.large {
    display: none;
  }

  .project-details {
    max-height: 440px;
  }

  .project-content {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;

  }

  /* about me */
  #about-me {
    height: max-content;
    background: url(images/illustrations/illustration-about.svg) 100% 10% / 38% no-repeat #1c1a19;
  }

  #about-me .content {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    gap: 36px;
    grid-template-rows: 2fr min-content min-content 1fr;
    height: 37em;
  }

  .about.title {
    font-size: 72px;
    line-height: 81px;
  }

  .content .description {
    font-size: 20px;
    line-height: 32px;
  }

  .knowledges-container {
    height: 38em;
    display: flex;
    align-items: center;
  }

  .knowledges {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0;
  }

  .knowledges ul {
    gap: 20px;
    margin-top: 36px;
    align-items: flex-start;
  }

  .skl {
    order: 1;
  }

  /* contact form */
  #contact-form {
    height: 614px;
    display: grid;
    grid-template-columns: minmax(0, 500px) 1fr;;
    gap: 24px;
    align-content: center;
  }

  main #contact-form > * {
    margin: 0;
    padding: 0;
  }

  #contact-form h2 {
    font-size: 40px;
    line-height: 52px;
    text-align: initial;
  }

  #contact-form form {
    align-items: flex-start;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
 .project-content {
   gap: 0;
 }     
}