@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

header {
    border: 2px solid orange;
}

.indicators {
    border: 2px solid green;
}

.menu {
    border: 2px solid rosybrown;
}

main {
    border: 2px solid blueviolet;
}

