@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

header > *, section {
    padding: 0 24px;
}
header {
    background-color: #3C3A39;
    border: 2px solid orange;
    min-height: 92px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.indicators {
    border: 2px solid green;
    padding: 0 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hour {
    flex: 4;
    color: #FFFFFF;
}
.icons {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.menu {
    border: 2px solid rosybrown;

    display: flex;
    justify-content: space-between;
}
.name {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

main {
    border: 2px solid blueviolet;
}

.headline {
    background-color: #1C1A19;
    min-height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline > * {
    margin-bottom: 8px;
}
.title {
    color: #FF6B00;
    font-size: 56px;
    line-height: 64px;
}
.subtitle {
    color: #FFF5E1;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
.description {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}
