@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins&family=Roboto:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  background: none;
}

header,
.status-bar,
.icons,
.menu,
#headline,
.social-media,
.boxes,
footer {
  display: flex;
}

.button {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  height: 48px;
  width: max-content;
  background-color: #ff6b00;
  padding: 12px;
  transition: background-color 1.5s;
}

.button:hover {
  color: #ff6b00;
  background-color: #fff5e1;
}

.button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.diff div .button:hover {
  color: #ff6b00;
}

header > *,
section {
  padding: 0 24px;
}

header {
  background-color: #3c3a39;
  flex-direction: column;
  justify-content: space-around;
}

.menu {
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
}

header .toolbar-links {
  display: none;
}

.link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

#headline {
  background: url(images/illustrations/illustration-header-mobile.svg) 100% 110% / 32% no-repeat #1c1a19;
  min-height: 590px;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.card.diff div > * {
  color: #091e42;
}

#headline > * {
  margin-bottom: 8px;
  max-width: 36em;
}

.title {
  color: #ff6b00;
  font-family: 'Create Round', sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

.subtitle {
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* recent works */

#recent-works .title {
  margin: 120px 0 80px;
  padding-bottom: 24px;
  border-bottom: 1px solid #1c1a19;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.content div {
  display: flex;
  align-items: flex-end;
}

.card.diff,
.card.diff div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

#contact-form form,
#contact-form form > * {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.card img {
  width: 100%;
  margin-bottom: 12px;
}

.project-name {
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
}

.boxes {
  gap: 12px;
}

.boxes li {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  height: max-content;
  padding: 10px 12px;
  border: 1px solid #091e42;
}

.diff div .see-project {
  width: 124px;
  margin-bottom: 24px;
  color: #fff;
}

.cards {
  display: grid;
  gap: 24px;
}

.cards .card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mask-card {
  display: none;
  visibility: hidden;
}

.project-details {
  height: 70vh;
  max-height: 386px;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgb(38 38 38 / 66%) 120%
    );
}

.p-1 {
  background: url(images/cards/project_background.png) center / cover no-repeat;
}

.p-2 {
  background: url(images/cards/data_dashboard.png) center / cover no-repeat;
}

.p-3 {
  background: url(images/cards/website_project.png) center / cover no-repeat;
}

.project-content {
  margin: 0 24px;
  height: 100%;
  display: grid;
  grid-template-rows: 28% repeat(3, auto);
}

.project-content .project-name {
  grid-row: 2;
}

.project-content .description {
  grid-row: 3;
}

.project-content .boxes {
  grid-row: 4;
}

.knowledges li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.knowledges ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.project-content .boxes li {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.see-project.large {
  width: 100%;
}

/* about section */

#about-me {
  margin-top: 120px;
  background:
    url(images/illustrations/illustration-about-mobile.svg)
    100% 23.5%
    no-repeat
    #1c1a19;
  height: 118em;
  display: grid;
  grid-auto-rows: min-content auto;
}

.content {
  height: 40em;
  border-bottom: 1px solid #fff;
  display: grid;
  grid-template-rows: auto min-content min-content 30%;
  gap: 24px;
}

.knowledges {
  margin-top: 11%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.knowledges ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang::before {
  background-image: url(images/illustrations/rhomb_icon.svg);
}

.skl::before {
  background-image: url(images/illustrations/rectangle_icon.svg);
}

.frk::before {
  background-image: url(images/illustrations/circle_icon.svg);
}

.knowledges .lang::before,
.knowledges .skl::before,
.knowledges .frk::before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: contain;
  margin-right: 12px;
}

#contact-form form {
  align-items: center;
  margin-bottom: 120px;
}

#contact-form h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0 48px;
  padding-top: 120px;
}

#full-name,
#email,
#message {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

#full-name,
#email {
  border-bottom: 1px solid #dbd8d7;
  padding: 14px 16px;
}

#message {
  border-bottom: 1px solid #dbd8d7;
  color: #3c3a39;
  padding: 14px 16px;
  background: #fbf8f7;
  height: 114px;
}

#contact-form .contact-me {
  width: 131px;
  cursor: pointer;
}

footer {
  border-top: 1px solid #dfe1e6;
  padding: 25px 0 23px;
  justify-content: center;
}
