@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500;700&family=Poppins&family=Roboto:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
}

header,
.status-bar,
.icons,
.menu,
.headline,
.social-media,
.boxes {
  display: flex;
}

header > *,
section {
  padding: 0 24px;
}

header {
  background-color: #3c3a39;
  flex-direction: column;
  justify-content: space-around;
}

.status-bar {
  padding: 0 8px;
  justify-content: space-between;
  align-items: center;
}

.hour {
  flex: 4;
}

.icons {
  flex: 1;
  justify-content: space-between;
}

.menu {
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
}

.headline {
  background: url(images/illustrations/illustration-header-mobile.svg) 100% 110% / 32% no-repeat #1c1a19;
  min-height: 590px;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.headline > * {
  margin-bottom: 8px;
}

.title {
  color: #ff6b00;
  font-family: 'Create Round', sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

.subtitle {
  color: #fff5e1;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* second milestone*/

.recent-works .title {
  margin: 120px 0 80px;
  padding-bottom: 24px;
  border-bottom: 1px solid #1c1a19;

  text-align: center;
  
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.card.diff {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.card.diff > * {
  color: #091e42;
}

.card img {
  width: 100%;
  margin-bottom: 12px;
}

.project-name {
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
}
.boxes {
  gap: 12px;
}
.boxes li{
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  height: fit-content;
  padding: 10px 12px;
  border: 1px solid #091e42;
}
.see-project,
.resume {
  background-color: #ff6b00;
  padding: 12px;
}
.see-project a {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.diff .see-project {
  width: 124px;
  margin-bottom: 24px;
}
.cards {
  display: grid;
  gap: 24px;
}
.project-details {
  height: 70vh;
  background: linear-gradient(
    180.45deg, rgba(38, 38, 38, 0) 0.75%,
    rgb(38 38 38 / 66%) 120%),
    url(images/cards/project_background.png) center / cover no-repeat;
}
.project-content {
  margin: 0 24px;
  height: 100%;
  display: grid;
  grid-template-rows: 28% repeat(3, auto);
}

.project-content .project-name {
  grid-row: 2;
}

.project-content .description {
  grid-row: 3;
}

.project-content .boxes{
  grid-row: 4;
}

.project-content .boxes li {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}
.see-project.large {
  width: 100%;
}

/* about section */

.about-me {
  margin-top: 120px;
  background: url(images/illustrations/illustration-about-mobile.svg);
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position: 100% 23.5%;

  height: 118em;
  display: grid;
  grid-auto-rows: min-content auto;
}

.content {
  height: 40em;
  border-bottom: 1px solid #fff;
  display: grid;
  grid-template-rows: auto min-content min-content 30%;
  gap: 24px;
  
}
.content div {
  display: flex;
  align-items: flex-end;
}
.knowledge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.knowledges {
  margin-top: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.knowledges ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.knowledges li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}
.knowledges .lang::before,
.knowledges .skl::before,
.knowledges .frk::before{
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: contain;
  margin-right: 12px;
}

.lang::before {
  background-image: url(images/illustrations/rhomb_icon.svg);
}
.skl::before {
  background-image: url(images/illustrations/rectangle_icon.svg);
}

.frk::before {
  background-image: url(images/illustrations/circle_icon.svg);
}

.knowledges ul li {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
}