@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
}

header,
.status-bar,
.icons,
.menu,
.headline,
.social-media {
  display: flex;
}

header > *,
section {
  padding: 0 24px;
}

header {
  background-color: #3c3a39;
  flex-direction: column;
  justify-content: space-around;
}

.status-bar {
  padding: 0 8px;
  justify-content: space-between;
  align-items: center;
}

.hour {
  flex: 4;
}

.icons {
  flex: 1;
  justify-content: space-between;
}

.menu {
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
}

.headline {
  background: url(images/illustrations/illustration-header-mobile.svg) 100% 110% / 32% no-repeat #1c1a19;
  min-height: 590px;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.headline > * {
  margin-bottom: 8px;
}

.title {
  color: #ff6b00;
  font-family: 'Create Round', sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

.subtitle {
  color: #fff5e1;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* second milestone*/

.recent-works .title {
  margin: 120px 0 80px;
  padding-bottom: 24px;
  border-bottom: 1px solid #1c1a19;

  text-align: center;
  
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.card img {
  width: 100%;
}
