@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins&family=Roboto:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  background: none;
  cursor: pointer;
}

.hide {
  display: none;
}

header,
.status-bar,
.icons,
.menu,
#headline,
.social-media,
.boxes,
footer {
  display: flex;
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 24px;
  text-align: center;
  height: 48px;
  width: max-content;
  background-color: #ff6b00;
  padding: 12px;
  transition: background-color 1.5s;
}

.button:hover {
  background-color: #d14d00;
}

.button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

header > *,
section {
  padding: 0 24px;
}

header {
  background-color: #3c3a39;
  flex-direction: column;
  justify-content: space-around;
}

.menu {
  justify-content: space-between;
  align-items: center;
}

#close-btn {
  display: none;
}

.menu-visible {
  position: fixed;
  display: block;
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
  top: 0;
}

.menu-visible nav {
  padding: 0;
}

.menu-visible #close-btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 24px;
  font-size: 26px;
  width: auto;
}

header .toolbar-links {
  display: none;
}

.menu-visible .toolbar-links {
  background-color: #3c3a39;
  width: 100%;
  height: 90vh;
  display: block;
  margin: 0;
}

.menu-visible ul {
  padding: 80px 24px 0;
}

.menu-visible li {
  margin-top: 40px;
  border-bottom: 2px #6f6c6b solid;
  padding-bottom: 15px;
}

.menu-visible li a {
  padding-left: 8px;
  font-size: 1.8em;
}

.menu-visible .email-box {
  display: none;
}

.menu-visible .logo-link,
.menu-visible button {
  display: none;
}

.logo {
  width: 48px;
}

.link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.93em;
  line-height: 1.25em;
}

#headline {
  background: url(images/illustrations/illustration-header-mobile.svg) 100% 110% / 36% no-repeat #1c1a19;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 590px;
  flex-direction: column;
  justify-content: center;
}

.popup > *,
.popup div > * {
  width: 90%;
  color: #344563;
}

.popup .first-row > *,
.popup button i {
  color: #172b4d;
}

.card.diff div > * {
  color: #344563;
}

#headline > * {
  margin-bottom: 8px;
  max-width: 78%;
}

.title {
  color: #ff6b00;
  font-family: "Create Round", sans-serif;
  font-weight: normal;
  font-size: 3.5em;
  line-height: 64px;
}

.subtitle {
  color: #fff5e1;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 32px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 24px;
}

/* recent works */

#recent-works .title {
  margin: 120px 0 80px;
  padding-bottom: 24px;
  border-bottom: 1px solid #1c1a19;
  text-align: center;
  font-size: 2.5em;
  line-height: 52px;
  color: #1c1a19;
}

.content div {
  display: flex;
  align-items: flex-end;
}

.card.diff,
.card.diff div {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 12px;
}

#contact-form form,
#contact-form form > * {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.card img {
  width: 100%;
  margin-bottom: 12px;
}

.project-name {
  font-family: "Crete Round", sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 44px;
}

.boxes {
  gap: 12px;
  flex-wrap: wrap;
}

.boxes li {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  line-height: 20px;
  height: max-content;
  padding: 10px 12px;
  border: 1px solid #091e42;
}

.diff div .see-project {
  width: 124px;
  margin-bottom: 24px;
  color: #fff;
}

.cards {
  display: grid;
  gap: 24px;
  justify-content: center;
  grid-template-columns: minmax(280px, 400px);
}

.cards .card {
  display: flex;
  flex-direction: column;
}

.mask-card {
  display: none;
  visibility: hidden;
}

.project-details {
  height: 70vh;
  max-height: 386px;
}

.project-content {
  margin: 0 24px;
  height: 100%;
  display: grid;
  grid-template-rows: 18% repeat(3, auto);
}

.project-content .project-name {
  grid-row: 2;
}

.project-content .description {
  grid-row: 3;
}

.project-content .boxes {
  grid-row: 4;
}

.knowledges li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 44px;
}

.knowledges ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 43px;
  margin-top: 12px;
}

.project-content .boxes li {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.see-project.large {
  width: 100%;
}

/* about section */

#about-me {
  margin-top: 120px;
  background: url(images/illustrations/illustration-about-mobile.svg) 100% 23.5% no-repeat #1c1a19;
  height: 118em;
  display: grid;
  grid-auto-rows: min-content auto;
}

.content {
  height: 40em;
  border-bottom: 1px solid #fff;
  display: grid;
  grid-template-rows: auto min-content min-content 30%;
  gap: 24px;
}

.knowledges {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.knowledges ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang::before {
  background-image: url(images/illustrations/rhomb_icon.svg);
}

.skl::before {
  background-image: url(images/illustrations/circle_icon.svg);
}

.frk::before {
  background-image: url(images/illustrations/rectangle_icon.svg);
}

.knowledges .lang::before,
.knowledges .skl::before,
.knowledges .frk::before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: contain;
  margin-right: 12px;
}

/* contact me */

#contact-form form {
  align-items: center;
  margin-bottom: 120px;
}

#contact-form h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0 48px;
  padding-top: 120px;
}

#full-name,
#email,
#message {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 24px;
  color: #979493;
}

#full-name,
#email {
  border-bottom: 1px solid #dbd8d7;
  padding: 14px 16px;
}

#message {
  border-bottom: 1px solid #dbd8d7;
  color: #3c3a39;
  padding: 14px 16px;
  background: #fbf8f7;
  height: 114px;
}

#contact-form .contact-me {
  width: 131px;
  cursor: pointer;
}

/* popup window */
.window-mask {
  position: fixed;
  overflow-y: scroll;
  backdrop-filter: blur(6px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
}

.popup {
  margin: 8vh auto;
  background-color: #fff;
  width: 90%;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
  padding-top: 10px;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.popup .first-row {
  display: flex;
  justify-content: space-between;
}

.popup .project-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 44px;
}

.popup button {
  max-width: min-content;
}

.content-modal-ds {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.desc-modal-ds {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.popup img {
  width: 90%;
}

.popup .buttons {
  display: flex;
  gap: 12px;
  padding-bottom: 8px;
}

.popup .buttons a {
  display: flex;
  gap: 4px;
  color: #fff;
  width: max-content;
  height: max-content;
}

.buttons a .icon {
  width: 16px;
}

.error-msg {
  display: none;
  color: rgb(209, 79, 79);
}

footer {
  border-top: 1px solid #dfe1e6;
  padding: 25px 0 23px;
  justify-content: center;
}

@media screen and (min-width: 640px) and (max-width: 995px) {
  .cards {
    grid-template-columns: minmax(245px, 1fr) minmax(245px, 1fr);
  }
}
